@page
@model PrivacyModel
@{
    ViewData["Title"] = "关于";
}

<p><a href="https://www.bit.edu.cn">北京理工大学</a></p>
<p><a href="https://www.bitnp.net">网络开拓者协会</a></p>

<p>By: everything411 & ZoroGH</p>
<p>Powered by .NET 6 on Linux</p>
