@page
@model LogoutModel
@{
    ViewData["Title"] = "退出系统";
}

<form method="post">
    <h2>确认要退出系统吗？</h2>
    <br/>
    <button class="btn btn-default btn-primary" type="submit">确认</button>
</form>

