@page
@model GraduationPhotosManagement.Pages.Upload.EditModel

@{
    ViewData["Title"] = "编辑上传照片信息";
}
<h3>编辑照片描述</h3>

<hr />
<div class="row">
    <div class="">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id" value="@Model.UploadedPhoto.Id" />
            <div class="form-group">
                <label asp-for="Input.Description" class="control-label"></label>
                <textarea asp-for="Input.Description" class="form-control" cols="40" rows="5">请填写</textarea>
                @*<input asp-for="Input.Description" class="form-control" />*@
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="保存" class="btn btn-primary" />
                
            </div>
        </form>
        <div style="margin-top:15px;">
             <a asp-page="./Index"><button class="btn btn-primary">返回</button></a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
